/*
I'm putting colors here because I want the little color tooltip to show up
*/
body {
  --color-dark-blue: hsl(237deg 95% 8%);
  --color-lighter-blue: hsl(197deg 96% 18%);
  --color-orange: hsl(45deg 96% 48%);
  --color-light-orange: hsl(45deg 96% 60%);

  --color-gray-100: hsl(185deg 5% 95%);
  --color-gray-300: hsl(190deg 5% 80%);
  --color-gray-500: hsl(196deg 4% 60%);
  --color-gray-700: hsl(220deg 5% 40%);
  --color-gray-900: hsl(220deg 3% 20%);
}
